.wrapper {
    border-radius: 1em;
    position: relative;
    display: flex
;
    width: 40vw;
    height: 24vh;
    flex-direction: column;
    overflow: hidden;
}

.img {
    flex: 7;
    height: 1vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;
    
}

.info {
    flex: 3;
    width: 90%;
    background-color: #D0DBE7;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
}


.info nav h3{
    margin: 0;
    
}

.info nav div{
    display: flex;
    align-items: center;
}


.info nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info nav .valo{}


.fle{
    display: flex;
    justify-content: space-between;
}

.flexi{
    display: flex;
    margin-right: 0.5em;

}