.card{
    background-color: #D4D4D4;
    border-radius: 1em;
    padding: 0.5em 1.5em 0.5em 0.5em;
    
    

}

.clas{
    width: 29vw;
    height: 14vh;
    object-fit: cover;
    border-radius: 1em;
}

.te{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}
.medio{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: auto;
    gap: 1em;
    
}

.medio > p{
    width: 35vw;
    height: 5vh;
    font-weight: 500;
}

.flex{
    display: flex;
    gap: 20px;

}

.flex button{
    outline: none;
    border: none;
    background: transparent;
    color: black;
    font-size: 1.5rem;
}



.po{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end ;
}