.product-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10px;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    flex: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info h4 {
    margin: 0;
    font-size: 1em;
    color: #333;
}

/* Estilos Responsivos */
@media (min-width: 768px) {
    .product-card {
        flex-direction: row;
    }

    .product-image {
        flex: 70%;
    }

    .product-info {
        flex: 30%;
    }
}
